
.Header{
    background-color: #9DB2BF;
}
.Cover{
    background-image: url(./Image/cover.jpg);
    padding-top: 250px;
    padding-bottom: 550px;
    position: relative;
    color: black;
    text-align: center;
    font-weight: bold;
    font-family: "Sacramento", cursive;
}
.Summary{
    background-color: #DDE6ED;
}
.Skills{
    background-color: #DDE6ED;
}
.Experince{
    background-color: #DDE6ED;
}
.Footer{
    background-color: #9DB2BF;
}
.container-text{
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold; font-style:italic;
}
p{
    text-align: justify;
}
.img-fluid{
    border-radius: 50%;
}
.icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
}
.csr{
    height: 35px;
}
.manager{
    height: 80%;
}
